.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    z-index: 999;
    margin-bottom: 25px;
}

.navbarcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbarmenu{
    display: flex;
    text-align: center;
    gap: 0.5rem;
    list-style: none;
}
.navbarmenu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}
.navbarmenu li a:hover{
    color:#162530;
    background-color: #FF2121;
    opacity: 0.8;
    transition: all 0.7s ease;
    color: #fff;
    border: 2px solid #fff;
}
.navbartoggle{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #000000;
    transition: all 0.3s ease-in-out;
}
.telefono{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content:px;
    background-color: #FF2121;
    color: white;
    padding: 5px 15px;
    margin-right: 50px;
    border-radius: 15px;
}
@media (max-width:880px) {
    .navbar{
        backdrop-filter: none;
    }
    .navbarmenu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
        transition: all 0.5s ease-in-out;
    }
    .navbarmenu.active{
        display: flex;
    }
    .navbartoggle{
        display: block;
        z-index: 999;
    }
    
    .navbartoggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbartoggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbartoggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (max-width:480px) {
    .navbarcontainer{
        padding: 0 1rem;
    }
    .navbarmenu li a{
        font-size: 1.2rem;
        padding: 3px 15px;
    }

}